<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spleet Audio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Spleet Audio</h1>
        <h3>Split any song into separate parts!</h3>
    </header>
    <main>
        <form id="upload", enctype="multipart/form-data" method="post", action="http://127.0.0.1:5000/spleet">
            <input type="file" id="song" name="song" accept="audio/mpeg, audio/mp4, audio/wav" />
            <input type="radio" id="two-stem-separation" name="separation_type" value="2stems" checked>
            <label for="two-stem-separation">Vocals/accompaniment</label>
            <input type="radio" id="four-stem-separation" name="separation_type" value="4stems">
            <label for="four-stem-separation">Vocals/drums/bass/other</label>
            <button id="submit">Split</button>
        </form>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>