<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spleet Audio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="my-5 container-md d-flex flex-column justify-content-center align-items-center">
        <h1 class="mb-5">Spleet Audio</h1>
        <div class="w-50">
            <p class="px-2"><b>spleet</b> <i>[\'splēt\]</i> <b>:</b></p>
            <ul><li><i>verb.</i> To split or separate an audio track into its different instrument sections.</li></ul>
        </div>
        
    </header>
    <main class="my-5 container-md">
        <form class="container w-50" id="formUpload", enctype="multipart/form-data" method="post", action="http://127.0.0.1:5000/spleet">
            <!-- <input type="file" id="song" name="song" accept="audio/mpeg, audio/mp4, audio/wav" />
            <input type="radio" id="two-stem-separation" name="separation_type" value="2stems" checked>
            <label for="two-stem-separation">Vocals/accompaniment</label>
            <input type="radio" id="four-stem-separation" name="separation_type" value="4stems">
            <label for="four-stem-separation">Vocals/drums/bass/other</label>
            <button id="submit">Split</button> -->
            
            <div class="input-group mb-4">
                <input class="form-control" type="file" id="inputAudioFile" accept="audio/mpeg, audio/mp4, audio/wav" name="song">
            </div>
            <div class="d-flex justify-content-between mb-4">
                <select class="form-select w-50" id="selectSepType" name="separation_type" aria-label="Select separator type">
                    <option selected value="2stems">Vocals/accompaniment</option>
                    <option value="4stems">Vocals/drums/bass/other</option>
                </select>
                <div class="submit">
                    <div class="spinner-border text-primary visually-hidden" id="spinner" role="status"></div>
                    <button class="btn btn-primary" type="submit" id="btnSubmit">Spleet!</button>
                </div>
                
            </div>
            
            <!-- <div class="form-check">
                <input class="form-check-input" type="radio" id="radSepType1" name="sepType" checked>
                <label class="form-check-label" for="radSepType1">
                    Vocals/accompaniment
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="radSepType2" name="sepType">
                <label class="form-check-label" for="radSepType2">
                    Vocals/drums/bass/other
                </label> -->
            </div>
        </form>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>